<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Product Type 1</h3>

                <div class="card-tools">
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse"
                    >
                        <i class="fa fa-minus"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Remove"
                    >
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- <div class="card-body">
                <div class="row">
                    <div class="container">
                        <h1> add robot </h1>
                        <form (ngSubmit)="addRobot(name, color, age)">
                            <p> name </p>
                            <input name="name" [(ngModel)]="name">
                            <p> color </p>
                            <input name="color" [(ngModel)]="color">
                            <p> age </p>
                            <input name="age" [(ngModel)]="age">
                            <button type="submit"> submit </button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-hover">
                            <div class="card-header">
                                <h3 class="card-title">Item 1</h3>
                            </div>
                            <div class="card-body">
                                Start creating your amazing application for Item 1!
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <button class="btn btn-primary" (click)="openProductModal()">View</button>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-hover">
                            <div class="card-header">
                                <h3 class="card-title">Item 2</h3>
                            </div>
                            <div class="card-body">
                                Start creating your amazing application for Item 2!
                            </div>
                            <div class="card-footer">description</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-hover">
                            <div class="card-header">
                                <h3 class="card-title">Item 3</h3>
                            </div>
                            <div class="card-body">
                                Start creating your amazing application for Item 3!
                            </div>
                            <div class="card-footer">description</div>
                        </div>
                    </div>
                </div>
            </div> -->
           
        </div>
    </div>
    <div class="container-fluid">
        <div class="card bg-light mb-3">
            <div class="card-header ">
                <h3 class="card-title">Product Type 2</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User ID</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of productListFindUserId">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.userId}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.completed}}</td>
                            <td>
                                <button *ngIf="item.completed == false" type="button" class="btn btn-success" (click)="onChangeStatus(item,item.completed,item.id)">true</button>
                                <button *ngIf="item.completed == true" type="button" class="btn btn-danger">false</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
